.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters > div {
  position: relative;
  display: flex;
  gap: 1rem;
}
.filters > div > span {
  position: absolute;
  top: -20px;
  left: 90px;
}

@media screen and (max-width: 500px) {
  .filters {
    flex-direction: column;
    gap: 1rem;
  }
  
  .filters > div > span {
    position: absolute;
  }
}